In [7]:
# Pandas - Data structures and analysis

In [130]:
# Pandas - One-dimensional data (Values)

import pandas as pd
series = pd.Series([0,1,2,3,5,8,13], name='Results') ;series

0     0
1     1
2     2
3     3
4     5
5     8
6    13
Name: Results, dtype: int64

In [133]:
# Series creation: LIST

import numpy as np
an_array=np.arange(1,12, 2)
series=pd.Series(an_array, index = ['1st','2nd','3rd','4th','5th','6th']) ;series


print(an_array)
print('index is -> ', series.index)
print('values are -> ',series.values)

[ 1  3  5  7  9 11]
index is ->  Index(['1st', '2nd', '3rd', '4th', '5th', '6th'], dtype='object')
values are ->  [ 1  3  5  7  9 11]

In [135]:
# Series creation: DICTIONARY

a_dict = {'1st':1, '2nd':2, '3rd':3}
print('dictionary -> ', a_dict)

series=pd.Series(a_dict)
print(series)

dictionary ->  {'1st': 1, '2nd': 2, '3rd': 3}
1st    1
2nd    2
3rd    3
dtype: int64

In [84]:
# Series creation: A SCALAR VALUE

series1=pd.Series(99)
print('series1 -> ',series1)

series2=pd.Series(99, index = ['1st','2nd','3rd'])
print('series2 -> ',series2)

series1 ->  0    99
dtype: int64
series2 ->  1st    99
2nd    99
3rd    99
dtype: int64

In [70]:
# Selecting elements from a Series
series=pd.Series(an_array, index = ['1st','2nd','3rd'])

print(series)
print(series[1])
print(series['3rd'])

1st    1
2nd    3
3rd    5
dtype: int32
3
5

In [85]:
# Slicing elements from a Series

print(series[0:2])

1st    1
2nd    2
dtype: int64

In [86]:
# Use a list of index numbers

series=series[[0,1]]
print(series)

1st    1
2nd    2
dtype: int64

In [104]:
# Using conditions/operators

an_array=np.arange(1,12, 2)
series=pd.Series(an_array, index = ['1st','2nd','3rd','4th','5th','6th'])

series1=series[series>10] #bigger than @10
print(series1)

series2=series[np.logical_and(series>6,series<9)] #b/n than @6 and &10
print(series2)

6th    11
dtype: int32
4th    7
dtype: int32

In [111]:
# Using maths

series1=series+series
print(series1)

series2=series/2
print(series2)

1st     2
2nd     6
3rd    10
4th    14
5th    18
6th    22
dtype: int32
1st    0.5
2nd    1.5
3rd    2.5
4th    3.5
5th    4.5
6th    5.5
dtype: float64

In [ ]:
# Pandas -DataFrame

In [121]:
# DataFrame creation

an_array=np.array([(33,21), (24,57), (41,89)])
df = pd.DataFrame(an_array,columns=['age','marks']) ;df

   age  marks
0   33     21
1   24     57
2   41     89

In [127]:
# DataFrame creation: Using a two-dimensional ndarray

df = pd.DataFrame(an_array, index=['mark', 'john', 'merry'], columns=['age','marks'])

print(df)
print(df.values)
print(df.index)

       age  marks
mark    33     21
john    24     57
merry   41     89
[[33 21]
 [24 57]
 [41 89]]
Index(['mark', 'john', 'merry'], dtype='object')

In [ ]:
# DataFrame creation: Using a dictionary of dictionaries

#https://medium.com/data-science-365/pandas-for-data-science-part-1-89bc231b3478