In [1]:
# Compute variance of groups, excluding missing values

import pandas as pd
import numpy as np



def df_groupby_var():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').var()

    # Expect DataFrame of
    # {'B': [0.000000, 1.000000, 1.666667], 'C': [4.500000, 12.333333, 4.666667} with index=[1, 2, 3]
    return out_df


print(df_groupby_var())

          B          C
A
1  0.000000   4.500000
2  1.000000  12.333333
3  1.666667   4.666667

In [2]:
# Compute sum of groups, excluding missing values

def df_groupby_sum():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').sum()

    # Expect DataFrame of
    # {'B': [0, 6, 14], 'C': [5, 16, 24} with index=[1, 2, 3]
    return out_df


print(df_groupby_sum())

    B   C
A
1   0   5
2   6  16
3  14  24

In [3]:
# Compute standard deviation of groups, excluding missing values

def df_groupby_std():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').std()

    # Expect DataFrame of
    # {'B': [0.000000, 1.000000, 1.290994], 'C': [2.121320, 3.511885, 2.160247} with index=[1, 2, 3]
    return out_df


print(df_groupby_std())

          B         C
A
1  0.000000  2.121320
2  1.000000  3.511885
3  1.290994  2.160247

In [4]:
# Compute prod of group values

def df_groupby_prod():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').prod()

    # Expect DataFrame of
    # {'B': [0, 6, 120], 'C': [4, 90, 1008} with index=[1, 2, 3]
    return out_df


print(df_groupby_prod())

     B     C
A
1    0     4
2    6    90
3  120  1008

In [5]:
# Compute min of group values

def df_groupby_min():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').min()

    # Expect DataFrame of
    # {'B': [0, 1, 2], 'C': [1, 2, 3} with index=[1, 2, 3]
    return out_df


print(df_groupby_min())

   B  C
A
1  0  1
2  1  2
3  2  3

In [6]:
# Compute median of groups, excluding missing values

def df_groupby_median():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 3, 4, 3, 2, 4],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').median()

    # Expect DataFrame of
    # {'B': [0.0, 3.0, 3.5], 'C': [2.5, 5.0, 6.5} with index=[1, 2, 3]
    return out_df


print(df_groupby_median())

     B    C
A
1  0.0  2.5
2  3.0  5.0
3  3.5  6.5

In [7]:
# Compute mean of groups, excluding missing values

def df_groupby_mean():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').mean()

    # Expect DataFrame of
    # {'B': [0.0, 2.0, 3.5], 'C': [2.500000, 5.333333, 6.000000} with index=[1, 2, 3]
    return out_df


print(df_groupby_mean())

     B         C
A
1  0.0  2.500000
2  2.0  5.333333
3  3.5  6.000000

In [8]:
# Compute max of group values

def df_groupby_max():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').max()

    # Expect DataFrame of
    # {'B': [0, 3, 5], 'C': [4, 9, 8} with index=[1, 2, 3]
    return out_df


print(df_groupby_max())

   B  C
A
1  0  4
2  3  9
3  5  8

In [9]:
# Compute count of group, excluding missing values

def df_groupby_count():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, np.nan, np.nan, 2, 4, 3, 2, np.inf],
                       'C': [np.nan, 2, 3, np.nan, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').count()

    # Expect DataFrame of
    # {'B': [1, 3, 3], 'C': [0, 3, 4} with index=[1, 2, 3]
    return out_df


print(df_groupby_count())

   B  C
A
1  1  0
2  3  3
3  3  4

In [10]:
# Calculate the rolling quantile

def df_rolling_quantile():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).quantile(0.25)

    # Expect DataFrame of
    # {'A': [NaN, NaN, 3.5, 2.5, 3.5], 'B': [NaN, NaN, -4.5, -4.0, -5.5]}
    return out_df


print(df_rolling_quantile())

     A    B
0  NaN  NaN
1  NaN  NaN
2  3.5 -4.5
3  2.5 -4.0
4  3.5 -5.5

In [11]:
# Calculate the rolling apply

def df_rolling_apply():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})

    def get_median(x):
        return np.median(x)

    out_df = df.rolling(3).apply(get_median)

    # Expect DataFrame of
    # {'A': [NaN, NaN, 4.0, 3.0, 5.0], 'B': [NaN, NaN, -4.0, -3.0, -5.0]}
    return out_df


print(df_rolling_apply())

     A    B
0  NaN  NaN
1  NaN  NaN
2  4.0 -4.0
3  3.0 -3.0
4  5.0 -5.0

In [12]:
# Compute unbiased rolling skewness

def series_rolling_skew():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).skew()

    return out_series  # Expect series of NaN, NaN, 0.000000, 0.935220, -1.293343


print(series_rolling_skew())

0         NaN
1         NaN
2    0.000000
3    0.935220
4   -1.293343
dtype: float64

In [13]:
# Calculate rolling correlation

def df_rolling_corr():
    df = pd.DataFrame({'A': [3, 3, 3, 5, 8], 'B': [-3, -3, -3, -5, -8]})
    other = pd.DataFrame({'A': [3, 4, 4, 4, 8], 'B': [-3, -4, -4, -4, -8]})
    out_df = df.rolling(4).corr(other)

    # Expect DataFrame of
    # {'A': [NaN, NaN, NaN, 0.333333, 0.916949],
    #  'B': [NaN, NaN, NaN, 0.333333, 0.916949]}
    return out_df


print(df_rolling_corr())

          A         B
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3  0.333333  0.333333
4  0.916949  0.916949

In [14]:
# Calculate rolling correlation

def series_rolling_corr():
    series = pd.Series([3, 3, 3, 5, 8])  # Series of 3, 3, 3, 5, 8
    other = pd.Series([3, 4, 4, 4, 8])  # Series of 3, 4, 4, 4, 8
    out_series = series.rolling(4).corr(other)

    return out_series  # Expect series of NaN, NaN, NaN, 0.333333, 0.916949


print(series_rolling_corr())

0         NaN
1         NaN
2         NaN
3    0.333333
4    0.916949
dtype: float64

In [15]:
# Calculate the rolling maximum

def df_rolling_max():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).max()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 5.0, 5.0, 6.0], 'B': [NaN, NaN, -3.0, -2.0, -2.0]}
    return out_df


print(df_rolling_max())

     A    B
0  NaN  NaN
1  NaN  NaN
2  5.0 -3.0
3  5.0 -2.0
4  6.0 -2.0

In [16]:
# Calculate the rolling maximum

def series_rolling_max():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).max()

    return out_series  # Expect series of NaN, NaN, 5.0, 5.0, 6.0


print(series_rolling_max())

0    NaN
1    NaN
2    5.0
3    5.0
4    6.0
dtype: float64

In [17]:
# Calculate the rolling minimum

def series_rolling_min():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).min()

    return out_series  # Expect series of NaN, NaN, 3.0, 2.0, 2.0


print(series_rolling_min())

0    NaN
1    NaN
2    3.0
3    2.0
4    2.0
dtype: float64

In [18]:
# Calculate rolling standard deviation

def df_rolling_std():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).std()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 1.000000, 1.527525, 2.081666],
    #  'B': [NaN, NaN, 1.000000, 1.527525, 2.081666]}
    return out_df


print(df_rolling_std())

          A         B
0       NaN       NaN
1       NaN       NaN
2  1.000000  1.000000
3  1.527525  1.527525
4  2.081666  2.081666

In [19]:
# Calculate rolling standard deviation

def series_rolling_std():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).std()

    return out_series  # Expect series of NaN, NaN, 1.000000, 1.527525, 2.081666


print(series_rolling_std())

0         NaN
1         NaN
2    1.000000
3    1.527525
4    2.081666
dtype: float64

In [20]:
# Calculate the rolling mean of the values

def df_rolling_mean():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).mean()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 4.000000, 3.333333, 4.333333],
    #  'B': [NaN, NaN, -4.000000, -3.333333, -4.333333]}
    return out_df


print(df_rolling_mean())

          A         B
0       NaN       NaN
1       NaN       NaN
2  4.000000 -4.000000
3  3.333333 -3.333333
4  4.333333 -4.333333

In [21]:
# Calculate rolling sum

def df_rolling_sum():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).sum()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 12.0, 10.0, 13.0], 'B': [NaN, NaN, -12.0, -10.0, -13.0]}
    return out_df


print(df_rolling_sum())

      A     B
0   NaN   NaN
1   NaN   NaN
2  12.0 -12.0
3  10.0 -10.0
4  13.0 -13.0

In [22]:
# Return the first n rows

def dataframe_head():
    df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                                  'monkey', 'parrot', 'shark', 'whale', 'zebra']})

    return df.head(n=6)


print(dataframe_head())

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot

In [23]:
# Drop specified columns from DataFrame

def dataframe_drop():
    df = pd.DataFrame({'A': [1.0, 2.0, 3.0, 1.0], 'B': [4, 5, 6, 7], 'C': ['a', 'b', 'c', 'd']})

    return df.drop(columns='A')


print(dataframe_drop())

   B  C
0  4  a
1  5  b
2  6  c
3  7  d

In [24]:
# Return the sum of the values for the columns

def dataframe_sum():
    df = pd.DataFrame({"A": [.2, .0, .6, .2],
                       "B": [2, 0, 6, 2],
                       "C": [-1, np.nan, 1, np.inf]})

    return df.sum()


print(dataframe_sum())

A     1.0
B    10.0
C     inf
dtype: float64

In [25]:
# Return the product of the values for the columns

def dataframe_prod():
    df = pd.DataFrame({"A": [.2, .0, .6, .2],
                       "B": [2, 0, 6, 2],
                       "C": [-1, np.nan, 1, np.inf]})

    return df.prod()


print(dataframe_prod())

A    0.0
B    0.0
C   -inf
dtype: float64

In [26]:
# Percentage change between the current and a prior element

def dataframe_pct_change():
    df = pd.DataFrame({"A": [14, 4, 5, 4, 1, 55],
                       "B": [5, 2, 54, 3, 2, 32],
                       "C": [20, 20, 7, 21, 8, 5],
                       "D": [14, 3, 6, 2, 6, 4]})
    out_df = df.pct_change()

    return out_df


print(dataframe_pct_change())

           A          B         C         D
0        NaN        NaN       NaN       NaN
1  -0.714286  -0.600000  0.000000 -0.785714
2   0.250000  26.000000 -0.650000  1.000000
3  -0.200000  -0.944444  2.000000 -0.666667
4  -0.750000  -0.333333 -0.619048  2.000000
5  54.000000  15.000000 -0.375000 -0.333333

In [27]:
# Count non-NA cells for each column or row

def dataframe_count():
    df = pd.DataFrame({"A": [.2, .0, .6, .2],
                       "B": [2, 0, 6, 2],
                       "C": [-1, np.nan, 1, np.inf]})

    return df.count()


print(dataframe_count())

A    4
B    4
C    3
dtype: int64

In [28]:
# Groupby and calculate the minimum in each group

def df_groupby_min():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').min()

    # Expect DataFrame of
    # {'B': [0, 1, 2], 'C': [1, 2, 3} with index=[1, 2, 3]
    return out_df


print(df_groupby_min())

   B  C
A
1  0  1
2  1  2
3  2  3

In [29]:
# Get value at specified index position

def dataframe_iat():
    df = pd.DataFrame({'A': [1.0, 2.0, 3.0, 1.0], 'B': [4, 5, 6, 7], 'C': ['a', 'b', 'c', 'd']})

    return df.iat[1, 2]  # value b


print(dataframe_iat())

b

In [30]:
# Return the first n rows

def dataframe_head():
    df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                                  'monkey', 'parrot', 'shark', 'whale', 'zebra']})

    return df.head(n=6)


print(dataframe_head())

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot

In [31]:
# Detect missing values

def dataframe_isna():
    df = pd.DataFrame({'A': [1.0, np.nan, 3.0, 1.0], 'B': [4, 5, 6, 7], 'C': [None, 'b', 'c', 'd']})

    return df.isna()


print(dataframe_isna())

       A      B      C
0  False  False   True
1   True  False  False
2  False  False  False
3  False  False  False

In [32]:
# Make a copy of this object’s indices and data

def dataframe_copy():
    df = pd.DataFrame({'A': [1.0, 2.0, 3.0, 1.0], 'B': [4, 5, 6, 7]})
    new_df = df.copy(deep=True)
    return new_df


print(dataframe_copy())

     A  B
0  1.0  4
1  2.0  5
2  3.0  6
3  1.0  7

In [33]:
# Getting Pandas DataFrame elements where key is series of booleans

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})
    val = pd.Series([True, False, True, False, False])

    return df[val]


print(dataframe_getitem())

   A  B  C
0  0  1  2
2  2  3  4

In [34]:
# Getting Pandas DataFrame elements where key is an array of booleans

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})
    arr = np.array([False, True, False, False, True])

    return df[arr]


print(dataframe_getitem())

   A  B  C
1  1  2  3
4  4  5  6

In [35]:
# Getting slice of Pandas DataFrame

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})

    return df[1:3]


print(dataframe_getitem())

   A  B  C
1  1  2  3
2  2  3  4

In [36]:
# Getting Pandas DataFrame column where key is a string

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})

    return df['A']


print(dataframe_getitem())

0    0
1    1
2    2
3    3
4    4
Name: A, dtype: int64

In [37]:
# Getting Pandas DataFrame column through getting attribute

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})

    return df.C


print(dataframe_getitem())

0    2
1    3
2    4
3    5
4    6
Name: C, dtype: int64

In [38]:
# Getting The values data of the DataFrame

def dataframe_values():
    df = pd.DataFrame({'age': [3,  29], 'height': [94, 170], 'weight': [31, 115]})
    result = df.values

    return result  # Numpy array of dataframe values: array([[3, 94, 31], [29, 170, 115]], dtype=int64)


print(dataframe_values())

[[  3  94  31]
 [ 29 170 115]]

In [39]:
# Getting The index (row labels) of the DataFrame

def dataframe_index():
    df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=['a', 'b'])
    result = df.index

    return result  # Numpy array of index values ['a', 'b']


print(dataframe_index())

Index(['a', 'b'], dtype='object')

In [40]:
# Check whether all characters in each string are decimal

def series_str_isdecimal():
    series = pd.Series(['23', '³', '⅕', ''])
    out_series = series.str.isdecimal()

    return out_series  # Expect series of True, False, False, False


print(series_str_isdecimal())

0     True
1    False
2    False
3    False
dtype: bool

In [41]:
# Check whether all characters in each string are numeric

def series_str_isnumeric():
    series = pd.Series(['one', 'one1', '1', ''])
    out_series = series.str.isnumeric()

    return out_series  # Expect series of False, False, True, False


print(series_str_isnumeric())

0    False
1    False
2     True
3    False
dtype: bool

In [42]:
# Check if each word start with an upper case letter

def series_str_istitle():
    series = pd.Series(['Cat', 'dog', 'Bird'])
    out_series = series.str.istitle()

    return out_series  # Expect series of True, False, True


print(series_str_istitle())

0     True
1    False
2     True
dtype: bool

In [43]:
# Check whether all characters in each string are uppercase

def series_str_isupper():
    series = pd.Series(['FOO', 'BAr', 'FooBar'])  # Series of 'FOO', 'BAr', 'FooBar'
    out_series = series.str.isupper()

    return out_series  # Expect series of True, False, False


print(series_str_isupper())

0     True
1    False
2    False
dtype: bool

In [44]:
# Check if all the characters in the text are whitespaces

def series_str_isspace():
    series = pd.Series([' ', ' c ', '  b ', '     a     '])
    out_series = series.str.isspace()

    return out_series  # Expect series of True, False, False, False


print(series_str_isspace())

0     True
1    False
2    False
3    False
dtype: bool

In [45]:
# Check whether all characters in each string in the Series are digits

def series_str_isdigit():
    series = pd.Series(['23', '³', '⅕', ''])
    out_series = series.str.isdigit()

    return out_series  # Expect series of True, True, False, False


print(series_str_isdigit())

0     True
1     True
2    False
3    False
dtype: bool

In [46]:
# Pad strings in the Series by prepending ‘0’ characters

def series_str_zfill():
    series = pd.Series(['dog', 'foo', 'bar'])  # Series of 'dog', 'foo', 'bar'
    out_series = series.str.zfill(5)

    return out_series  # Expect series of '00dog', '00foo', '00bar'


print(series_str_zfill())

0    00dog
1    00foo
2    00bar
dtype: object

In [47]:
# Convert strings in the Series to upper case

def series_str_upper():
    series = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])

    return series.str.upper()


print(series_str_upper())

0                 LOWER
1              CAPITALS
2    THIS IS A SENTENCE
3              SWAPCASE
dtype: object

In [48]:
# Convert strings in the Series to titlecase

def series_str_title():
    series = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
    out_series = series.str.title()

    return out_series  # Expect series of 'Lower', 'Capitals', 'This Is A Sentence', 'Swapcase'


print(series_str_title())

0                 Lower
1              Capitals
2    This Is A Sentence
3              Swapcase
dtype: object

In [49]:
# Remove leading and trailing characters

def series_str_strip():
    series = pd.Series(['1. Ant.  ', '2. Bee!\n', '3. Cat?\t'])

    return series.str.strip('123.!? \n\t')


print(series_str_strip())

0    Ant
1    Bee
2    Cat
dtype: object

In [50]:
# Test if the start of each string element matches a string

def series_str_startswith():
    series = pd.Series(['foo', 'bar', 'foobar'])  # Series of 'foo', 'bar', 'foobar'
    out_series = series.str.startswith('foo')

    return out_series  # Expect series of True, False, True


print(series_str_startswith())

0     True
1    False
2     True
dtype: bool

In [51]:
# Remove leading and trailing characters

def series_str_rstrip():
    series = pd.Series(['1. Ant.  ', '2. Bee!\n', '3. Cat?\t'])

    return series.str.rstrip('.!? \n\t')


print(series_str_rstrip())

0    1. Ant
1    2. Bee
2    3. Cat
dtype: object

In [52]:
# Remove leading and trailing characters

def series_str_lstrip():
    series = pd.Series(['1. Ant.  ', '2. Bee!\n', '3. Cat?\t'])

    return series.str.lstrip('123.')


print(series_str_lstrip())

0     Ant.
1     Bee!\n
2     Cat?\t
dtype: object

In [53]:
# Filling right side of strings in the Series with an additional character

def series_str_ljust():
    series = pd.Series(['dog', 'foo', 'bar'])  # Series of 'dog', 'foo', 'bar'
    out_series = series.str.ljust(5, '*')

    return out_series  # Expect series of 'dog**', 'foo**', 'bar**'


print(series_str_ljust())

0    dog**
1    foo**
2    bar**
dtype: object

In [54]:
# Compute the length of each element in the Series

def series_str_len():
    series = pd.Series(['foo', 'bar', 'foobar'])  # Series of 'foo', 'bar', 'foobar'
    out_series = series.str.len()

    return out_series  # Expect series of 3, 3, 6


print(series_str_len())

0    3
1    3
2    6
dtype: int64

In [55]:
# Shift index by desired number of periods with an optional time freq

def series_shift():
    series = pd.Series([3, -10, np.nan, 0, 92])

    return series.shift()


print(series_shift())

0     NaN
1     3.0
2   -10.0
3     NaN
4     0.0
dtype: float64

In [56]:
# Sort by the values

def series_sort_values():
    series = pd.Series([3, -10, np.nan, 0, 92])

    return series.sort_values()


print(series_sort_values())

1   -10.0
3     0.0
0     3.0
4    92.0
2     NaN
dtype: float64

In [57]:
# Fill NA/NaN values using the specified method

def series_fillna():
    s = pd.Series([4, np.nan, 2, 1])

    return s.fillna(0)


print(series_fillna())

0    4.0
1    0.0
2    2.0
3    1.0
dtype: float64

In [58]:
# Return a new Series with missing values removed

def series_dropna():
    s = pd.Series([4, np.nan, 2, 1])

    return s.dropna()


print(series_dropna())

0    4.0
2    2.0
3    1.0
dtype: float64

In [59]:
# Detect missing values

def series_isna():
    s = pd.Series([4, np.nan, 2, 1])

    return s.isna()  # Expect series of False, True, False, False


print(series_isna())

0    False
1     True
2    False
3    False
dtype: bool

In [60]:
# Return the elements in the given positional indices along an axis

def series_take():
    series = pd.Series([5, 4, 3, 2, 1])

    return series.take([4, 1])  # Expect series of 4, 1


print(series_take())

4    1
1    4
dtype: int64

In [61]:
# Check whether values are contained in Series

def series_isin():
    s = pd.Series([4, np.nan, 2, 1])

    return s.isin([4, 1])  # Expect series of True, False, False, True


print(series_isin())

0     True
1    False
2    False
3     True
dtype: bool

In [62]:
# Getting the row label of the minimum value

def series_idxmin():
    s = pd.Series([4, np.nan, 2, 1], index=['A', 'B', 'C', 'D'])

    return s.idxmin()  # Expect index of minimum value D


print(series_idxmin())

D

In [63]:
# Getting the first n rows

def series_head():
    s = pd.Series([7, 6, 5, 4, 3, 2, 1], index=[0, 2, 4, 6, 8, 10, 12])

    return s.head(3)


print(series_head())

0    7
2    6
4    5
dtype: int64

In [64]:
# Getting the number of values excluding NaNs

def series_value_counts():
    s = pd.Series([3, 1, 2, 3, 4, np.nan])
    out_series = s.value_counts()

    return out_series


print(series_value_counts())

3.0    2
2.0    1
4.0    1
1.0    1
dtype: int64

In [65]:
# Return number of unique elements in the object

def series_nunique():
    series = pd.Series([2, 8, 2, 1])

    return series.nunique()  # Expect value: 3


print(series_nunique())

3

In [66]:
# Getting unique values in Series

def series_unique():
    s = pd.Series([2, 1, 3, 3])
    out_series = s.unique()

    return out_series  # Expect array of unique values [1, 2, 3]


print(series_unique())

[2 1 3]

In [67]:
# Return the sum of the values for the requested axis

def series_sum():
    series = pd.Series([5, 4, 3, 2, 1])

    return series.sum()  # Expect value: 15


print(series_sum())

15

In [68]:
# Returns sample standard deviation over Series

def series_std():
    series = pd.Series(np.arange(10))

    return series.std()  # Expect value: 3.0276503540974917


print(series_std())

3.0276503540974917

In [69]:
# Computing quantile for the Series

def series_quantile():
    s = pd.Series([1, 2, 3, 4])
    median = .5  # compute median
    out_series = s.quantile(median)

    return out_series # Expect median value == 2.5


print(series_quantile())

2.5

In [70]:
# Return the product of the values

def series_prod():
    series = pd.Series([3.2, -10, np.nan, 0.23, 9.2])

    return series.prod()  # Expect value: -67.712


print(series_prod())

-67.712

In [71]:
# Percentage change between the current and a prior element

def series_pct_change():
    s = pd.Series([5., 0, 3.3, np.nan, 9.2, 9.2, 10, 11, 11, 11])

    return s.pct_change(periods=2, fill_method=None, limit=None, freq=None)


print(series_pct_change())

0         NaN
1         NaN
2   -0.340000
3         NaN
4    1.787879
5         NaN
6    0.086957
7    0.195652
8    0.100000
9    0.000000
dtype: float64

In [72]:
# Returns the smallest n elements

def series_nsmallest():
    series = pd.Series(np.arange(10))

    return series.nsmallest(4)  # Expect series of 0, 1, 2, 3 # vs nlargest


print(series_nsmallest())

0    0
1    1
2    2
3    3
dtype: int32

In [73]:
# Return the median of the values for the requested axis

def series_median():
    series = pd.Series([1, 2, 3, 4])

    return series.median()  # Expect value: 2.5


print(series_median())

2.5

In [74]:
# Return the mean of the values

def series_mean():
    series = pd.Series([3.2, -10, np.nan, 0.23, 9.2])

    return series.mean()  # Expect value: 0.6575 # s.max() s.min() etc


print(series_mean())

0.6575

In [75]:
# Generate descriptive statistics

def series_describe():
    s = pd.Series([5., 0, 3.3, 4.4, 9.2])

    return s.describe()


print(series_describe())

count    5.000000
mean     4.380000
std      3.315419
min      0.000000
25%      3.300000
50%      4.400000
75%      5.000000
max      9.200000
dtype: float64

In [76]:
# Returns cumulative sum over Series

def series_cumsum():
    s = pd.Series([1, 2, 3, 4])

    return s.cumsum()  # Expect series of 1, 3, 6, 10


print(series_cumsum())

0     1
1     3
2     6
3    10
dtype: int64

In [77]:
# Compute covariance with Series, excluding missing values

def series_cov():
    s1 = pd.Series([3.2, -10, np.nan, 0.23, 9.2])
    s2 = pd.Series([5., 0, 3.3, np.nan, 9.2])

    return s1.cov(s2)  # Expect value: 44.639...


print(series_cov())

44.63999999999999

In [78]:
# Counting non-NaN values in Series

def series_count():
    s = pd.Series([1, 2, np.nan])
    out_series = s.count()

    return out_series  # Expect the number of non-Nan values == '2'


print(series_count())

2

In [79]:
# Compute correlation with other Series, excluding missing values

def series_corr():
    s1 = pd.Series([3.2, -10, np.nan, 0.23, 9.2])
    s2 = pd.Series([5., 0, 3.3, np.nan, 9.2])

    return s1.corr(s2)  # Expect value: 0.98673...


print(series_corr())

0.9867362434412108

In [80]:
# Getting the absolute value of each element in Series

def series_abs():
    s = pd.Series([-1.10, 2, -3.33])
    out_series = s.abs()

    return out_series  # Expect series of 1.10, 2.00, 3.33


print(series_abs())

0    1.10
1    2.00
2    3.33
dtype: float64

In [81]:
# Calculate the rolling minimum

def series_rolling_min():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).min()

    return out_series  # Expect series of NaN, NaN, 3.0, 2.0, 2.0


print(series_rolling_min())

0    NaN
1    NaN
2    3.0
3    2.0
4    2.0
dtype: float64

In [82]:
# Return the mean of the values grouped by numpy array

def series_groupby():
    S = pd.Series([390., 350., 30., 20.])
    by = np.asarray([0, 1, 0, 1])

    # Expect Series of pd.Series([210.0, 185.0], index=[0, 1])
    return S.groupby(by).mean()


print(series_groupby())

0    210.0
1    185.0
dtype: float64

In [83]:
# map() accepts a function

def series_map():
    s = pd.Series([1., 2., 3., 4., 5.])
    return s.map(lambda x: x ** 2)


print(series_map())

0     1.0
1     4.0
2     9.0
3    16.0
4    25.0
dtype: float64

In [84]:
# Use a function from the Numpy library

def series_apply():
    s = pd.Series([20, 21, 12],
                  index=['London', 'New York', 'Helsinki'])

    return s.apply(np.log)


print(series_apply())

London      2.995732
New York    3.044522
Helsinki    2.484907
dtype: float64

In [85]:
# Square the values by passing an anonymous function as an argument to apply().

def series_apply():
    s = pd.Series([20, 21, 12],
                  index=['London', 'New York', 'Helsinki'])

    return s.apply(lambda x: x ** 2)


print(series_apply())

London      400
New York    441
Helsinki    144
dtype: int64

In [86]:
# Square the values by defining a function and passing it as an argument to apply().

def series_apply():
    s = pd.Series([20, 21, 12],
                  index=['London', 'New York', 'Helsinki'])

    def square(x):
        return x ** 2

    return s.apply(square)


print(series_apply())

London      400
New York    441
Helsinki    144
dtype: int64

In [87]:
# Element-wise equal of one Series by another (binary operator eq)

def series_eq():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.eq(s2)  # Expect series of False, False, True, False, False


print(series_eq())

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [88]:
# Element-wise not equal of one Series by another (binary operator ne)

def series_ne():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.ne(s2)  # Expect series of True, True, False, True, True


print(series_ne())

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [89]:
# Element-wise greater than or equal of one Series by another (binary operator ge)

def series_ge():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.ge(s2)  # Expect series of True, True, True, False, False


print(series_ge())

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [90]:
# Element-wise less than or equal of one Series by another (binary operator le)

def series_le():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.le(s2)  # Expect series of False, False, True, True, True


print(series_le())

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [91]:
# Element-wise greater than of one Series by another (binary operator gt)

def series_gt():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.gt(s2)  # Expect series of True, True, False, False, False


print(series_gt())

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [92]:
# Element-wise less than of one Series by another (binary operator lt)

def series_lt():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.lt(s2)  # Expect series of False, False, False, True, True


print(series_lt())

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [93]:
# Element-wise power of one Series by another (binary operator pow)

def series_pow():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.pow(s2)  # Expect series of 1, 16, 27, 64, 1


print(series_pow())

0     1
1    16
2    27
3    64
4     1
dtype: int64

In [94]:
# Return Modulo of series and other, element-wise (binary operator mod)

def series_mod():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.mod(s2)  # Expect series of 0, 0, 0, 2, 1


print(series_mod())

0    0
1    0
2    0
3    2
4    1
dtype: int64

In [95]:
# Return Integer division of series and other, element-wise (binary operator floordiv)

def series_floordiv():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.floordiv(s2)  # Expect series of 0, 2, 1, 0, 0


print(series_floordiv())

0    0
1    2
2    1
3    0
4    0
dtype: int64

In [96]:
# Element-wise division of one Series by another (binary operator truediv)

def series_truediv():
    s1 = pd.Series([1, 2, 4])
    s2 = pd.Series([4, 4, 16])
    out_series = s1.truediv(s2)

    return out_series  # Expect series of 0.25, 0.50, 0.25


print(series_truediv())

0    0.25
1    0.50
2    0.25
dtype: float64

In [97]:
# Element-wise division of one Series by another (binary operator div)

def series_div():
    s1 = pd.Series([1, 2, 4])
    s2 = pd.Series([4, 4, 16])
    out_series = s1.div(s2)

    return out_series  # Expect series of 0.25, 0.50, 0.25


print(series_div())

0    0.25
1    0.50
2    0.25
dtype: float64

In [98]:
# Element-wise multiplication of two Series

def series_mul():
    s1 = pd.Series([1, 3, 100])
    s2 = pd.Series([0, 1, 2])
    out_series = s1.mul(s2)

    return out_series  # Expect series of 0, 3, 200


print(series_mul())

0      0
1      3
2    200
dtype: int64

In [99]:
# Return Subtraction of series and other, element-wise (binary operator sub)

def series_sub():
    s1 = pd.Series([5, 4, 3, 2, 1])
    s2 = pd.Series([0, 2, 3, 6, 8])

    return s1.sub(s2)  # Expect series of 5, 2, 0, -4, -7


print(series_sub())

0    5
1    2
2    0
3   -4
4   -7
dtype: int64

In [100]:
# Getting the addition of Series and other

def series_add():
    s1 = pd.Series([1, 2, 3])
    s2 = pd.Series([4, 5, 6])
    out_series = s1.add(s2)

    return out_series  # Expect series of 5, 7, 9


print(series_add())

0    5
1    7
2    9
dtype: int64

In [101]:
# With a slice object

def series_iloc_slice():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 4, 6, 8])

    return series.iloc[2:4]


print(series_iloc_slice())

4    3
6    2
dtype: int64

In [102]:
# With a scalar integer

def series_iloc_value():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 4, 6, 8])

    return series.iloc[4]  # Expect value: 1


print(series_iloc_value())

1

In [103]:
# With a slice object. Returns multiple value

def series_loc_slice():
    series = pd.Series([5, 4, 3, 2, 1])

    return series.loc[1:3]


print(series_loc_slice())

1    4
2    3
3    2
dtype: int64

In [104]:
# With a scalar integer. Returns multiple value

def series_loc_many_idx():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 0, 6, 0])

    return series.loc[0]


print(series_loc_many_idx())

0    5
0    3
0    1
dtype: int64

In [105]:
# With a scalar integer. Returns single value

def series_loc_value():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 4, 6, 8])

    return series.loc[4]


print(series_loc_value())

3

In [106]:
# Get value at specified index position

def series_iat():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 4, 6, 8])

    return series.iat[4]  # Expect value: 1


print(series_iat())

1

In [107]:
# With a scalar integer. Returns multiple value

def series_at_many_idx():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 0, 6, 0])

    return series.at[0]  # Expect array: [5 3 1]


print(series_at_many_idx())

0    5
0    3
0    1
dtype: int64

In [108]:
# With a scalar integer. Returns single value

def series_at_value():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 4, 6, 8])

    return series.at[4]  # Expect array: [3]


print(series_at_value())

3

In [109]:
# Make a copy of this object’s indices and data

def series_copy():
    s1 = pd.Series(np.arange(5))
    s2 = s1.copy()

    return s2  # Expect new series of 0, 1, 2, 3, 4


print(series_copy())

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [110]:
# Cast a pandas object to a specified dtype dtype

def series_astype():
    series = pd.Series([3, -10, np.nan, 0, 92])

    return series.astype(str)


print(series_astype())

0      3.0
1    -10.0
2      nan
3      0.0
4     92.0
dtype: object

In [111]:
# Setting Pandas Series elements by series

def series_setitem():
    value = 0
    series = pd.Series(np.arange(5, 0, -1))  # Series of 5, 4, 3, 2, 1

    indices = pd.Series(np.asarray([1, 3]))
    series[indices] = value

    return series       # result Series of 5, 0, 3, 0, 1


print(series_setitem())

0    5
1    0
2    3
3    0
4    1
dtype: int32

In [112]:
# Setting Pandas Series elements by slice

def series_setitem():
    value = 0
    series = pd.Series(np.arange(5, 0, -1))  # Series of 5, 4, 3, 2, 1

    series[2:5] = value

    return series   # result Series of 5, 4, 0, 0, 0


print(series_setitem())

0    5
1    4
2    0
3    0
4    0
dtype: int32

In [113]:
# Getting Pandas Series elements by another Series

def series_getitem_series():
    series = pd.Series(np.arange(10, 0, -1))  # Series of 10, 9, ..., 1
    indices = pd.Series(np.asarray([1, 6, 7, 8, 9]))

    return series[indices]  # Accessing series by series


print(series_getitem_series())

1    9
6    4
7    3
8    2
9    1
dtype: int32

In [114]:
# Getting Pandas Series elements by array of booleans

def series_getitem_array():
    series = pd.Series(np.arange(10, 0, -1))  # Series of 10, 9, ..., 1
    array = np.array([True, False, True, True, False] * 2)

    return series[array]  # Accessing series by array


print(series_getitem_array())

0    10
2     8
3     7
5     5
7     3
8     2
dtype: int32

In [115]:
# Getting Pandas Series elements by slice

def series_getitem_slice():
    series = pd.Series(np.arange(10, 0, -1))  # Series of 10, 9, ..., 1

    return series[3:7]  # Accessing series by slice index


print(series_getitem_slice())

3    7
4    6
5    5
6    4
dtype: int32

In [116]:
# Getting Pandas Series elements. Returns multiple value

def series_getitem_scalar_many_idx():
    series = pd.Series([5, 4, 3, 2, 1], index=[0, 2, 0, 6, 0])

    return series[0]


print(series_getitem_scalar_many_idx())

0    5
0    3
0    1
dtype: int64

In [117]:
# Getting Pandas Series elements. Returns single value

def series_getitem_scalar():
    series = pd.Series(np.arange(10, 0, -1))  # Series of 10, 9, ..., 1

    return series[0]  # Accessing series by scalar index


print(series_getitem_scalar())

10

In [118]:
# Return the transpose, which is by definition self

def series_T():
    series = pd.Series(np.arange(5))

    return series.T  # Expect array of 0, 1, 2, 3, 4


print(series_T())

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [119]:
# Return the number of elements in the underlying data

def series_size():
    series = pd.Series(np.arange(10))

    return series.size  # Expect value: 10


print(series_size())

10

In [120]:
# Number of dimensions of the underlying data, by definition 1

def series_ndim():
    series = pd.Series(np.arange(10))

    return series.ndim  # Expect value: 1


print(series_ndim())

1

In [121]:
# Return a tuple of the shape of the underlying data

def series_shape():
    series = pd.Series(np.arange(10))

    return series.shape  # Expect (10,)


print(series_shape())

(10,)

In [122]:
# Return Series as ndarray or ndarray-like depending on the dtype

def series_values():
    series = pd.Series(np.arange(5))

    return series.values  # Expect array of 0, 1, 2, 3, 4


print(series_values())

[0 1 2 3 4]

In [123]:
# The index (axis labels) of the Series

def series_index():
    series = pd.Series(np.arange(5), index=['one', 'two', 'three', 'four', 'five'])

    return series.index  # Expect array of 'one' 'two' 'three' 'four' 'five'


print(series_index())

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [124]:
url = "https://raw.githubusercontent.com/tvelichkovt/Scikit-Learn/main/WA_Fn-UseC_-Sales-Win-Loss.csv"
sales_data = pd.read_csv(url)
sales_data.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
0,1641984,Exterior Accessories,Car Accessories,Northwest,Fields Sales,76,Won,13,104,101,0,5,5,0,Unknown,0.69636,0.113985,0.154215,1
1,1658010,Exterior Accessories,Car Accessories,Pacific,Reseller,63,Loss,2,163,163,0,3,5,0,Unknown,0.00000,1.000000,0.000000,1
2,1674737,Motorcycle Parts,Performance & Non-auto,Pacific,Reseller,24,Won,7,82,82,7750,1,1,0,Unknown,1.00000,0.000000,0.000000,1
3,1675224,Shelters & RV,Performance & Non-auto,Midwest,Reseller,16,Loss,5,124,124,0,1,1,0,Known,1.00000,0.000000,0.000000,1
4,1689785,Exterior Accessories,Car Accessories,Pacific,Reseller,69,Loss,11,91,13,69756,1,1,0,Unknown,0.00000,0.141125,0.000000,4