In [13]:
# Compute variance of groups, excluding missing values

import pandas as pd
import numpy as np



def df_groupby_var():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').var()

    # Expect DataFrame of
    # {'B': [0.000000, 1.000000, 1.666667], 'C': [4.500000, 12.333333, 4.666667} with index=[1, 2, 3]
    return out_df


print(df_groupby_var())

          B          C
A
1  0.000000   4.500000
2  1.000000  12.333333
3  1.666667   4.666667

In [4]:
# Compute sum of groups, excluding missing values

def df_groupby_sum():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').sum()

    # Expect DataFrame of
    # {'B': [0, 6, 14], 'C': [5, 16, 24} with index=[1, 2, 3]
    return out_df


print(df_groupby_sum())

    B   C
A
1   0   5
2   6  16
3  14  24

In [5]:
# Compute standard deviation of groups, excluding missing values

def df_groupby_std():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').std()

    # Expect DataFrame of
    # {'B': [0.000000, 1.000000, 1.290994], 'C': [2.121320, 3.511885, 2.160247} with index=[1, 2, 3]
    return out_df


print(df_groupby_std())

          B         C
A
1  0.000000  2.121320
2  1.000000  3.511885
3  1.290994  2.160247

In [6]:
# Compute prod of group values

def df_groupby_prod():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').prod()

    # Expect DataFrame of
    # {'B': [0, 6, 120], 'C': [4, 90, 1008} with index=[1, 2, 3]
    return out_df


print(df_groupby_prod())

     B     C
A
1    0     4
2    6    90
3  120  1008

In [7]:
# Compute min of group values

def df_groupby_min():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').min()

    # Expect DataFrame of
    # {'B': [0, 1, 2], 'C': [1, 2, 3} with index=[1, 2, 3]
    return out_df


print(df_groupby_min())

   B  C
A
1  0  1
2  1  2
3  2  3

In [8]:
# Compute median of groups, excluding missing values

def df_groupby_median():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 3, 4, 3, 2, 4],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').median()

    # Expect DataFrame of
    # {'B': [0.0, 3.0, 3.5], 'C': [2.5, 5.0, 6.5} with index=[1, 2, 3]
    return out_df


print(df_groupby_median())

     B    C
A
1  0.0  2.5
2  3.0  5.0
3  3.5  6.5

In [9]:
# Compute mean of groups, excluding missing values

def df_groupby_mean():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').mean()

    # Expect DataFrame of
    # {'B': [0.0, 2.0, 3.5], 'C': [2.500000, 5.333333, 6.000000} with index=[1, 2, 3]
    return out_df


print(df_groupby_mean())

     B         C
A
1  0.0  2.500000
2  2.0  5.333333
3  3.5  6.000000

In [10]:
# Compute max of group values

def df_groupby_max():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').max()

    # Expect DataFrame of
    # {'B': [0, 3, 5], 'C': [4, 9, 8} with index=[1, 2, 3]
    return out_df


print(df_groupby_max())

   B  C
A
1  0  4
2  3  9
3  5  8

In [11]:
# Compute count of group, excluding missing values

def df_groupby_count():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, np.nan, np.nan, 2, 4, 3, 2, np.inf],
                       'C': [np.nan, 2, 3, np.nan, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').count()

    # Expect DataFrame of
    # {'B': [1, 3, 3], 'C': [0, 3, 4} with index=[1, 2, 3]
    return out_df


print(df_groupby_count())

   B  C
A
1  1  0
2  3  3
3  3  4

In [12]:
# Calculate the rolling quantile

def df_rolling_quantile():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).quantile(0.25)

    # Expect DataFrame of
    # {'A': [NaN, NaN, 3.5, 2.5, 3.5], 'B': [NaN, NaN, -4.5, -4.0, -5.5]}
    return out_df


print(df_rolling_quantile())

     A    B
0  NaN  NaN
1  NaN  NaN
2  3.5 -4.5
3  2.5 -4.0
4  3.5 -5.5

In [14]:
# Calculate the rolling apply

def df_rolling_apply():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})

    def get_median(x):
        return np.median(x)

    out_df = df.rolling(3).apply(get_median)

    # Expect DataFrame of
    # {'A': [NaN, NaN, 4.0, 3.0, 5.0], 'B': [NaN, NaN, -4.0, -3.0, -5.0]}
    return out_df


print(df_rolling_apply())

     A    B
0  NaN  NaN
1  NaN  NaN
2  4.0 -4.0
3  3.0 -3.0
4  5.0 -5.0

In [15]:
# Compute unbiased rolling skewness

def series_rolling_skew():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).skew()

    return out_series  # Expect series of NaN, NaN, 0.000000, 0.935220, -1.293343


print(series_rolling_skew())

0         NaN
1         NaN
2    0.000000
3    0.935220
4   -1.293343
dtype: float64

In [16]:
# Calculate rolling correlation

def df_rolling_corr():
    df = pd.DataFrame({'A': [3, 3, 3, 5, 8], 'B': [-3, -3, -3, -5, -8]})
    other = pd.DataFrame({'A': [3, 4, 4, 4, 8], 'B': [-3, -4, -4, -4, -8]})
    out_df = df.rolling(4).corr(other)

    # Expect DataFrame of
    # {'A': [NaN, NaN, NaN, 0.333333, 0.916949],
    #  'B': [NaN, NaN, NaN, 0.333333, 0.916949]}
    return out_df


print(df_rolling_corr())

          A         B
0       NaN       NaN
1       NaN       NaN
2       NaN       NaN
3  0.333333  0.333333
4  0.916949  0.916949

In [17]:
# Calculate rolling correlation

def series_rolling_corr():
    series = pd.Series([3, 3, 3, 5, 8])  # Series of 3, 3, 3, 5, 8
    other = pd.Series([3, 4, 4, 4, 8])  # Series of 3, 4, 4, 4, 8
    out_series = series.rolling(4).corr(other)

    return out_series  # Expect series of NaN, NaN, NaN, 0.333333, 0.916949


print(series_rolling_corr())

0         NaN
1         NaN
2         NaN
3    0.333333
4    0.916949
dtype: float64

In [18]:
# Calculate the rolling maximum

def df_rolling_max():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).max()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 5.0, 5.0, 6.0], 'B': [NaN, NaN, -3.0, -2.0, -2.0]}
    return out_df


print(df_rolling_max())

     A    B
0  NaN  NaN
1  NaN  NaN
2  5.0 -3.0
3  5.0 -2.0
4  6.0 -2.0

In [19]:
# Calculate the rolling maximum

def series_rolling_max():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).max()

    return out_series  # Expect series of NaN, NaN, 5.0, 5.0, 6.0


print(series_rolling_max())

0    NaN
1    NaN
2    5.0
3    5.0
4    6.0
dtype: float64

In [20]:
# Calculate the rolling minimum

v

     A    B
0  NaN  NaN
1  NaN  NaN
2  3.0 -5.0
3  2.0 -5.0
4  2.0 -6.0

In [21]:
# Calculate the rolling minimum

def series_rolling_min():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).min()

    return out_series  # Expect series of NaN, NaN, 3.0, 2.0, 2.0


print(series_rolling_min())

0    NaN
1    NaN
2    3.0
3    2.0
4    2.0
dtype: float64

In [22]:
# Calculate rolling standard deviation

def df_rolling_std():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).std()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 1.000000, 1.527525, 2.081666],
    #  'B': [NaN, NaN, 1.000000, 1.527525, 2.081666]}
    return out_df


print(df_rolling_std())

          A         B
0       NaN       NaN
1       NaN       NaN
2  1.000000  1.000000
3  1.527525  1.527525
4  2.081666  2.081666

In [23]:
# Calculate rolling standard deviation

def series_rolling_std():
    series = pd.Series([4, 3, 5, 2, 6])  # Series of 4, 3, 5, 2, 6
    out_series = series.rolling(3).std()

    return out_series  # Expect series of NaN, NaN, 1.000000, 1.527525, 2.081666


print(series_rolling_std())

0         NaN
1         NaN
2    1.000000
3    1.527525
4    2.081666
dtype: float64

In [24]:
# Calculate the rolling mean of the values

def df_rolling_mean():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).mean()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 4.000000, 3.333333, 4.333333],
    #  'B': [NaN, NaN, -4.000000, -3.333333, -4.333333]}
    return out_df


print(df_rolling_mean())

          A         B
0       NaN       NaN
1       NaN       NaN
2  4.000000 -4.000000
3  3.333333 -3.333333
4  4.333333 -4.333333

In [25]:
# Calculate rolling sum

def df_rolling_sum():
    df = pd.DataFrame({'A': [4, 3, 5, 2, 6], 'B': [-4, -3, -5, -2, -6]})
    out_df = df.rolling(3).sum()

    # Expect DataFrame of
    # {'A': [NaN, NaN, 12.0, 10.0, 13.0], 'B': [NaN, NaN, -12.0, -10.0, -13.0]}
    return out_df


print(df_rolling_sum())

      A     B
0   NaN   NaN
1   NaN   NaN
2  12.0 -12.0
3  10.0 -10.0
4  13.0 -13.0

In [26]:
# Return the first n rows

def dataframe_head():
    df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                                  'monkey', 'parrot', 'shark', 'whale', 'zebra']})

    return df.head(n=6)


print(dataframe_head())

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot

In [27]:
# Drop specified columns from DataFrame

def dataframe_drop():
    df = pd.DataFrame({'A': [1.0, 2.0, 3.0, 1.0], 'B': [4, 5, 6, 7], 'C': ['a', 'b', 'c', 'd']})

    return df.drop(columns='A')


print(dataframe_drop())

   B  C
0  4  a
1  5  b
2  6  c
3  7  d

In [28]:
# Return the sum of the values for the columns

def dataframe_sum():
    df = pd.DataFrame({"A": [.2, .0, .6, .2],
                       "B": [2, 0, 6, 2],
                       "C": [-1, np.nan, 1, np.inf]})

    return df.sum()


print(dataframe_sum())

A     1.0
B    10.0
C     inf
dtype: float64

In [29]:
# Return the product of the values for the columns

def dataframe_prod():
    df = pd.DataFrame({"A": [.2, .0, .6, .2],
                       "B": [2, 0, 6, 2],
                       "C": [-1, np.nan, 1, np.inf]})

    return df.prod()


print(dataframe_prod())

A    0.0
B    0.0
C   -inf
dtype: float64

In [30]:
# Percentage change between the current and a prior element

def dataframe_pct_change():
    df = pd.DataFrame({"A": [14, 4, 5, 4, 1, 55],
                       "B": [5, 2, 54, 3, 2, 32],
                       "C": [20, 20, 7, 21, 8, 5],
                       "D": [14, 3, 6, 2, 6, 4]})
    out_df = df.pct_change()

    return out_df


print(dataframe_pct_change())

           A          B         C         D
0        NaN        NaN       NaN       NaN
1  -0.714286  -0.600000  0.000000 -0.785714
2   0.250000  26.000000 -0.650000  1.000000
3  -0.200000  -0.944444  2.000000 -0.666667
4  -0.750000  -0.333333 -0.619048  2.000000
5  54.000000  15.000000 -0.375000 -0.333333

In [31]:
# Count non-NA cells for each column or row

def dataframe_count():
    df = pd.DataFrame({"A": [.2, .0, .6, .2],
                       "B": [2, 0, 6, 2],
                       "C": [-1, np.nan, 1, np.inf]})

    return df.count()


print(dataframe_count())

A    4
B    4
C    3
dtype: int64

In [32]:
# Groupby and calculate the minimum in each group

def df_groupby_min():
    df = pd.DataFrame({'A': [1, 2, 3, 1, 2, 3, 3, 3, 2],
                       'B': [0, 1, 5, 0, 2, 4, 3, 2, 3],
                       'C': [1, 2, 3, 4, 5, 6, 7, 8, 9]})
    out_df = df.groupby('A').min()

    # Expect DataFrame of
    # {'B': [0, 1, 2], 'C': [1, 2, 3} with index=[1, 2, 3]
    return out_df


print(df_groupby_min())

   B  C
A
1  0  1
2  1  2
3  2  3

In [33]:
# Get value at specified index position

def dataframe_iat():
    df = pd.DataFrame({'A': [1.0, 2.0, 3.0, 1.0], 'B': [4, 5, 6, 7], 'C': ['a', 'b', 'c', 'd']})

    return df.iat[1, 2]  # value b


print(dataframe_iat())

b

In [34]:
# Return the first n rows

def dataframe_head():
    df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                                  'monkey', 'parrot', 'shark', 'whale', 'zebra']})

    return df.head(n=6)


print(dataframe_head())

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot

In [35]:
# Detect missing values

def dataframe_isna():
    df = pd.DataFrame({'A': [1.0, np.nan, 3.0, 1.0], 'B': [4, 5, 6, 7], 'C': [None, 'b', 'c', 'd']})

    return df.isna()


print(dataframe_isna())

       A      B      C
0  False  False   True
1   True  False  False
2  False  False  False
3  False  False  False

In [36]:
# Make a copy of this objectâ€™s indices and data

def dataframe_copy():
    df = pd.DataFrame({'A': [1.0, 2.0, 3.0, 1.0], 'B': [4, 5, 6, 7]})
    new_df = df.copy(deep=True)
    return new_df


print(dataframe_copy())

     A  B
0  1.0  4
1  2.0  5
2  3.0  6
3  1.0  7

In [37]:
# Getting Pandas DataFrame elements where key is series of booleans

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})
    val = pd.Series([True, False, True, False, False])

    return df[val]


print(dataframe_getitem())

   A  B  C
0  0  1  2
2  2  3  4

In [38]:
# Getting Pandas DataFrame elements where key is an array of booleans

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})
    arr = np.array([False, True, False, False, True])

    return df[arr]


print(dataframe_getitem())

   A  B  C
1  1  2  3
4  4  5  6

In [42]:
# Getting slice of Pandas DataFrame

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})

    return df[1:3]


print(dataframe_getitem())

   A  B  C
1  1  2  3
2  2  3  4

In [43]:
# Getting Pandas DataFrame column where key is a string

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})

    return df['A']


print(dataframe_getitem())

0    0
1    1
2    2
3    3
4    4
Name: A, dtype: int64

In [44]:
# Getting Pandas DataFrame column through getting attribute

def dataframe_getitem():
    df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                       'B': [1, 2, 3, 4, 5],
                       'C': [2, 3, 4, 5, 6]})

    return df.C


print(dataframe_getitem())

0    2
1    3
2    4
3    5
4    6
Name: C, dtype: int64

In [ ]:
# Compute min of group values







#https://intelpython.github.io/sdc-doc/latest/examples.html

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

In [ ]:
# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

# Compute min of group values

def dataframe_head():
    df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                                  'monkey', 'parrot', 'shark', 'whale', 'zebra']})

    return df.head(n=6)


print(dataframe_head())def dataframe_head():
    df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                                  'monkey', 'parrot', 'shark', 'whale', 'zebra']})

    return df.head(n=6)


print(dataframe_head())